language: node_js
node_js:
  - 12
os: linux
dist: xenial
cache:
  directories:
    - node_modules
script:
  - yarn lint
  - yarn test --coverage
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
  - rm -rf ./coverage
before_deploy:
  - yarn build
  - yarn copy
deploy:
  edge: true
  provider: npm
  email: "$NPM_EMAIL_ADDRESS"
  api_token: "$NPM_API_TOKEN"
  on:
    tags: true
    branch: master