@use '@constants/colors' as *;
@use '@constants/mixins' as *;

.wrapper {
    display: flex;
    border-color: $gray_dark;
    border-style: solid;
    border-width: 0 5px;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    @include media(small) {
        flex-direction:  row;
    }
}