.test1 {
    color: red;
    left: 10px;
    .test2 {
        text-align: left;
        padding: 5px;
        width: 100%;
    }
}

.test3 {
    left: 10px;
    &.test4 {
        color: black;
        margin-left: 20px;
    }
    &.test5 {
        padding: 5px;
        span {
            text-align: left;
        }
    }
}

.test6 {
    display: flex;
    .global & {
        color: white;
        padding: 5px 10px 5px 5px;
        border-left-color: #666;
        div {
            margin: 0 auto;
            padding-left: 20px;
        }
    }
    .test7 {
        .global & {
            background-color: #FFF;
            ::after {
                content: "";
                display: block;
                text-align: left;
            }
        }
    }
}