.test1, .test2 {
    background: url("/folder/subfolder/icons/ltr/chevron-left.png");
    background-color: #FFF;
    background-position: 10px 20px;
    border-radius: 0 2px 0 8px;
    color: #666;
    padding-right: 20px;
    text-align: left;
    transform: translate(-50%, 50%);
    width: 100%;
}

.test2 {
    color: red;
    text-align: left;
    text-align: center;
}

/* Comment not related to rtl */
.test3 {
    direction: ltr;
    margin: 1px 2px 3px;
    padding: 10px 20px;
    /* Property comment not related to rtl */
    text-align: center;
}

.test4 {
    font-size: 10px;
    border-color: red;
    border-radius: 2px 4px 8px 16px;
    text-shadow: red 99px -1px 1px, blue 99px 2px 1px;
    transform-origin: 10px 20px;
    transform: scale(0.5, 0.5);
}

.test5,
.test6,
.test7 {
    background: linear-gradient(0.25turn, #3F87A6, #EBF8E1, #F69D3C);
    border: 1px solid 2px;
    border-color: #666 #777 #888 #999;
    box-sizing: border-box;
    border-width: 1px 2px 3px 4px;
    position: absolute;
    left: 100px;
    transform: translateX(5px);
}

/*rtl:novalid:ignore*/
.test8 {
    background: linear-gradient(to left, #333, #333 50%, #EEE 75%, #333 75%);
    display: flex;
    /*rtl:ignore*/
    padding-left: 10%;
}

.test9, .test10 {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    left: 5px;
    padding: 0px 2px 3px 4px /*rtl:ignore*/;
}

.test11:hover,
.test11:active {
    font-family: Arial, Helvetica /*rtl:prepend:"Droid Arabic Kufi", */;
    font-size: 20px /*rtl:30px*/;
    color: '#FFF' /*rtl:#000*/;
    transform: translateY(10px) /*rtl:append:scaleX(-1)*/;
    padding: 10px /*rtl:insert:20px*/;
}

/*rtl:begin:ignore*/
#test12, #test13 {
    left: 10px;
    position: relative;
    text-align: right;
}

/*rtl:ignore*/
.test14 .test15 span {
    border-left-color: #777;
    margin: 10px 20px 30px 40px;
    transform: translate(100%, 10%);
}

.test16 {
    padding-right: 10px;
}
/*rtl:end:ignore*/

.test16:hover {
    padding-right: 20px;
}

/*rtl:ignore*/
.test17 {
    cursor: pointer;
    padding: 10px 20px 40px 10px;
    text-align: right;
}

@media only screen and (min-device-width: 320px) {
    .test17 {
        cursor: wait;
    }
}

.test18 {
    animation: 5s flip 1s ease-in-out,
               3s my-animation 6s ease-in-out;
    font-size: 10px;
    padding: 10px 20px 40px 10px;
}

.test18::after {
    content: '';
    left: 10px;
    /*rtl:begin:ignore*/
    text-align: left;
    padding-left: 5px;
    /*rtl:ignore*/
    margin-left: 15px;
    transform: translateX(5px);
    /*rtl:end:ignore*/
}

@keyframes flip {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
    }
}

@media only screen and (min-device-width: 320px) {
    .test18 {
        padding: 1px 2px 3px 4px;
        width: 100%;
    }
}

.test19 {
    animation-delay: 1s;
    animation-duration: 3s;
    animation-name: my-animation;
    animation-timing-function: ease-in-out;
}

.test20 {
    animation-delay: 2s;
    animation-duration: 4s;
    animation-name: my-animation, no-flip;
    animation-timing-function: ease;
}

@keyframes my-animation {
    from {
        left: 0%;
    }
    to {
        left: 100%;
    }
}

.test21 {
    animation-delay: 1s;
    animation-duration: 3s;
    animation-name: no-flip;
    animation-timing-function: ease-in-out;
    width: 100%;
}

@keyframes no-flip {
    from {
        color: #000;
    }
    to {
        color: #FFF;
    }
}

/* Do not add reset values in override mode */
.test22 {
    left: 5px;
    right: 10px;
}

/* Do not create the RTL version if the result is the same */
.test23 {
    left: 10px;
    right: 10px;
}

/* Chain override */
.test24 {
    border: 1px solid #FFF /*rtl:1px solid #000*/;
    border-bottom-color: #666;
    padding: 10px;
}

/* Automatic rename */
.test25-ltr {
    box-sizing: border-box;
    color: #FFF;
    font-size: 10px;
    width: 100%;
}

.test25, .test26-ltr, .test27 {
    background-image: url("/icons/icon-l.png")
}

.test26-rtl {
    background-image: url("/icons/icon-r.png")
}

.test27-prev {
    background-image: url("/icons/icon-p.png")
}

.test27-next {
    background-image: url("/icons/icon-n.png")
}

.test28 {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
}

.test28-left::before {
    background-image: url("/folder/subfolder/arrow-left.png");
}

/*rtl:begin:urls*/
.test28-right::before {
    background-image: url("/folder/subfolder/arrow-right.png");
}

/*rtl:begin:ignore*/
.testleft29 {
    border: 1px solid gray;
}
/*rtl:end:ignore*/

.testleft30 {
    background: url("/folder/subfolder/icon-ltr.png");
}
/*rtl:end:urls*/

.testright30 {
    background: url("/folder/subfolder/icon-rtl.png");
}

.test31 {
    /*rtl:urls*/
    background-image: url("/icons/icon-left.png");
    border: 1px solid gray;
}

.test32 {
    /*rtl:begin:urls*/
    align-items: center;
    background-image: url("/icons/icon-left.png");
    background-repeat: no-repeat;
    /*rtl:end:urls*/
    border: 1px solid gray;    
}

.test33 {
    color: #EFEFEF;
    left: 10px;
    /*rtl:raw:
    height: 50px;
    width: 100px;*/
}

/*rtl:raw:.example34 {
    color: #EFEFEF;
    left: 10px;
    width: 100%;    
}

.example35 {
    transform: translate(10px, 20px);
}
*/

/*rtl:source:rtl*/
.test36 {
    color: #FFF;
    border-left: 1px solid #666;
    padding: 10px 5px 10px 20px;
    text-align: left;
    width: 100%;
}

.test37 {
    color: #FFF;
    border-left: 1px solid #666;
    padding: 10px 5px 10px 20px;
    /*rtl:source:rtl*/
    text-align: left;
    width: 100%;
}

.test38 {
    color: #FFF;
    border-left: 1px solid #666;
    /*rtl:begin:source:rtl*/
    padding: 10px 5px 10px 20px;
    text-align: left;
    /*rtl:end:source*/
    width: 100%;
}

/*rtl:begin:source:rtl*/
.test39 {
    margin-left: 10px;
    width: 50%;
}

.test40 {
    color: transparent;
    padding: 10px;
    left: 5px;
}
/*rtl:end:source*/

/*rtl:source:rtl*/
.test41 {
    color: #EFEFEF;
    left: 10px;
    /*rtl:raw:
    height: 50px;
    width: 100px;*/
}

/*rtl:begin:source:rtl*/
/*rtl:raw:.test42 {
    color: #EFEFEF;
    left: 10px;
    width: 100%;    
}

.test43 {
    transform: translate(10px, 20px);
}
*/
/*rtl:end:source*/

/*rtl:source:ltr*/
@keyframes normalFlip {
    from {
        left: 0px;
        top: 0px;
    }
    to {
        left: 100px;
        top: -100px;
    }
}

.test44 {
    animation: 5s normalFlip 1s ease-in-out;
}

/*rtl:source:rtl*/
@keyframes inversedFlip {
    from {
        left: 0px;
        top: 0px;
    }
    to {
        left: 100px;
        top: -100px;
    }
}

.test45 {
    animation: 5s inversedFlip 1s ease-in-out;
}

/*rtl:source:ltr*/
@media only screen and (min-device-width: 320px) {
    .test46 {
        cursor: wait;
        text-align: left;
    }
    .test47 {
        color: white;
    }
    .test47left {
        content: "\f007";
    }
    .test47right {
        content: "\f010";
    }
}

/*rtl:source:rtl*/
@media only screen and (min-device-width: 320px) {
    .test48 {
        cursor: wait;
        text-align: left;
    }
    .test49 {
        color: white;
    }
}

:root {
    text-align: left;
}

html .test50 {
    color: red;
    left: 10px;
}

.test51 {
    border-left: 1px solid #FFF;
    border: none;
}

.test52 {
    color: red;
    padding-block: 1px 2px;
}

.test53 {
    margin-block-start: 10px;
    margin-block-end: 5px;
}