:root {
    --small-padding: 2px 4px 8px 16px;
    --large-padding: 4px 8px 16px 32px;
    --custom-margin: 2px;
    --small-margin: 2px 4px 8px 16px;
    --large-margin: 4px 8px 16px 32px;
}

.test1 {
    margin: var(--small-margin);
    padding: var(--small-padding);
}

.test1.large {
    margin: var(--large-margin);
    padding: var(--large-padding);
    left: 10px;
}

.test2 {
    margin: var(--custom-margin);
}