/* Mirror properties, do nothing */
.test1 {
    padding-left: 10px;
    padding-right: 10px;
}

/* Mirror properties, do nothing */
.test2 {
    margin-left: 5px;
    margin-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-left: 0;
    margin-right: 0;
}

/* Flipped-declarations overriden by non-flipped declarations, do nothing */
.test3 {
    text-align: left;
    text-align: right;
    text-align: center;
}

/* Overriden mirror properties */
.test4 {
    left: 0;
    left: 10px;
    right: 10px;
    right: 0;
}

/* Overriden with non-flippable declarations should move only the last one */
.test5 {
    padding: 0 2px 0 4px;
    padding: 0 4px 0 8px;
    padding: 0 8px 0 16px;
}

/* Overriden with flippable declarations should move all of them */
.test6 {
    margin-right: 1px;
    margin-right: 2px;
    margin-right: 3px;
}

/* Overriden with flippable declarations but a counterpart flipped declaration should move only the last one */
.test7 {
    margin-right: 1px;
    margin-right: 2px;
    margin-left: 4px;
    margin-right: 3px;
}

.test8 {
    margin-left: 4px;
    margin-right: 1px;
    margin-right: 2px;
    margin-right: 3px;
}

/* Overriden with flippable declarations but a counterpart flipped declaration should move only the last one even if there is a mirror */
.test9 {
    margin-left: 1px;
    margin-right: 1px;
    margin-right: 2px;
    margin-right: 3px;
}

/* Overriden should behave correctly with safeBothPrefix */
.test10 {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}