import React from 'react';
import { stylesheet } from './stylesheet';

export interface {{ ComponentName }}Props {
    property?: string;
}

export const {{ ComponentName }} = (props: {{ ComponentName }}Props): JSX.Element => {
    const { property = 'defaultValue' } = props;
    return (
        <div css={stylesheet.component}>
            { property }
        </div>
    );
};